* {
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: rgb(94, 0, 16);
    color: #eee;
}

header {
    text-align: center;
}

section {
    text-align: center;
}

html { 
    background: url(assets/landscape-2124022.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .content {
      width: 50%;
      margin: auto
  }