* {
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: rgb(94, 0, 16);
    color: #eee;
}

header {
    text-align: center;
}

section {
    text-align: center;
}

.background-image img {
    width: 100%;
    
}
