* {
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
}

header {
    text-align: center;
}

section {
    text-align: center;
}

.row {
    background-color: #aaa;
}

.navbar {
    height: 80px;
}
